.footer {
	z-index: 1;
	background-color: #181818;
	color: #fff;
	padding: 80px 0;
	a {
		color: #fff;
	}
}
.footer__row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 128px;
	align-items: start;
	@include mediaMobile {
		grid-template-columns: 1fr;
		gap: 60px;
	}
}
.footer__copy {
	display: grid;
	gap: 24px;
}
.footer__copy-text {
	max-width: 300px;
}
.footer__nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	column-gap: 40px;
	@include mediaMobile {
		grid-row: -1 / 1;
	}
}
