.testimonials__grid {
	display: grid;
	z-index: 1;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
	overflow: hidden;
	margin: 0 -10px;
}
.swiper-testimonials {
	height: 900px;
	.swiper-slide{
		padding: 0 10px;
		height: 325px;
	}
}
.smooth-transition {
	-webkit-transition-timing-function: linear !important;
	-o-transition-timing-function:linear !important;
	transition-timing-function: linear !important;
}
.testimonials__col {
	// display: grid;
	// gap: 32px;
}
.testimonials__col-2 {
	margin-top: 60px;
}
.testimonials__col-3 {
	margin-top: 30px;
}
